<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>

{% if messages %}
<script>
    {% for message in messages %}
      alert("{{ message }}");
    {% endfor %}
</script>
{% endif %}

<h1>Thành công!</h1>
<p>Dữ liệu của bạn đã được xử lý thành công.</p>

{% if csv_file_path %}
<a href="{% url 'download_csv' %}?file={{ csv_file_path|urlencode }}">Tải xuống file CSV</a>
{% endif %}

<a href="{% url 'home' %}">Quay về trang chủ</a>

</body>
</html>
